spring:
  jpa:
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB
  application:
    name: mindbridge

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://mindbridge-db.c1yuukk2c8rs.ap-northeast-2.rds.amazonaws.com:3306/MindBridge_db
    username: admin
    password: mindbridge!!